ios/example/example.xcodeproj/project.xcworkspace/
ios/example/example.xcodeproj/xcuserdata/
ej2d
ej2d.dSYM/*
*.exe
*.dll
*.ilk

mac/example/example.xcodeproj/xcuserdata
mac/example/example.xcodeproj/project.xcworkspace/xcuserdata

msvc/lib/Debug/ej2d.pdb
msvc/lib/Debug/glew.exp
msvc/lib/Debug/glew.lib
msvc/lib/Debug/glew.pdb
msvc/lib/Debug/lua52.exp
msvc/lib/Debug/lua52.lib
msvc/lib/Debug/lua52.pdb
msvc/build/Debug/quick_ejoy2d_UnitTest.lib

quick/quick_ejoy2d_UnitTest/Debug/